.headerMainContainer {
    top: 0;
    z-index: 0;
    height: 100vh;
    display: flex;
    padding-inline: 90px;
    flex-direction: column;
    background: var(--dark-gray);
    justify-content: space-between;
}

.headerWave {
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.headerBackground {
    top: 0;
    right: 0;
    /* width: 100%; */
    z-index: 0;
    position: absolute;
}

.background1024 {
    display: none;
}


@media screen and (min-width: 414px) and (max-width: 1400px) {
    .headerBackground {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .headerMainContainer {
        top: 0;
        /* gap: 270px; */
        gap: 100px;
        z-index: 0;
        height: 100vh;
        display: flex;
        padding-inline: 17px;
        flex-direction: column;
        justify-content: start;
        background: var(--dark-gray);
    }
}


@media screen and (max-width: 414px) {
    .headerMainContainer {
        top: 0;
        gap: 200px;
        z-index: 0;
        height: 100vh;
        display: flex;
        padding-inline: 17px;
        flex-direction: column;
        justify-content: start;
        background: var(--dark-gray);
    }

    .headerBackground {
        top: 0;
        height: 894px;
        position: absolute;
    }

}

/*
@media screen and (orientation: landscape) and (max-width: 670px) and (max-height: 375px){

.headerMainContainer {
    gap: 27px;
}
}
 */


@media screen and (orientation: landscape) and (max-width: 844px) and (max-height: 390px) {
    .headerMainContainer {
        gap: 0px;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px) and (max-height: 400px) {
    .headerMainContainer {
        gap: 20px;
    }
}