.container {
    gap: 148px;
    display: flex;
    padding-top: 200px;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.numbersTextContainer {
    gap: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (orientation: landscape) and (max-width: 940px) {

    .container {
        gap: 300px;
    }
}