.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
}
.image {
    width: 30%;
    height: 30%;
    animation: rotateForever1 3s linear infinite;
}


@keyframes rotateForever1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}